################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Library/Artifacts/af/afa454c714878346abb626ae5cc2092f
/Temp/UnityTempFile-e35505f5a18fbcc418939a0b7a7e6184
/Temp/UnityTempFile-91ab0b24a6324684d8a53cbece926dab
/Temp/UnityTempFile-8827cda7fe7747241b4d89b7f8024242
/Temp/UnityLockfile
/Temp/__Backupscenes
